<h1>All Jobs for <strong><%= @company.name %></strong></h1>
<p><%= link_to "Back to All Companies", companies_path %></p>
<p><%= link_to "Back to All Jobs", jobs_path %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <% @jobs.each do |job| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class=job_<%= job.id %>>
              <%= link_to job.title, company_job_path(job.company, job)%> at <%= link_to job.company.name, company_path(job.company) %>
              <%= link_to "Edit", edit_company_job_path(job.company, job) %>
              <%= link_to "Delete", company_job_path(@company, job), method: "delete" %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

Contacts:
<%= render partial: "contacts/contact", collection: @company.contacts.reverse %>



Create a Contact:
<%= form_for @contact do |f| %>
  <%= f.hidden_field :company_id, :value => @company.id  %>

  <%= f.label :full_name, "Name" %>
  <%= f.text_field :full_name %>

  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>

  <%= f.label :position, "Position" %>
  <%= f.text_field :position %>

  <%= f.submit class:"btn btn-default"%>
<% end  %>
